:root{
  --background-bright: #dad7cd;
  --background-dark: #3a5a40;
  --text-bright: #edede9;
  --text-dark: #344e41;
  --highlight-bright: #a3b18a;
  --highlight-dark: #588157;
} 

/* Fonts */

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

/* Page properties */

body,
#container {
  background-color: var(--background-bright);
  height: 100vh;
}

body > div {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-template-rows: 4rem auto;
}

#container > div { 
  padding: .5rem;
}

#header {
  grid-area: 1 / 1 / span 1 / span 2;
}

#sidebar {
  background-color: var(--highlight-dark);
  flex-grow: 1;
  gap: 1rem;
}

/* Properties */

.hidden {
  display: none !important;
}

.align-vertical {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  gap: 0.5rem;
}

.header :nth-child(2) {
  justify-self: left;
}

.light-color-bg {
  background-color: var(--background-bright);
  color: var(--text-bright);
}

.dark-color-bg {
  background-color: var(--background-dark);
  color: var(--text-bright);
}



/* Forms */

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  gap: .25rem;
  margin: 0.5rem;
}

/* Projects */

.project button {
  height: min-content;
}

.project-list {
  gap: .5rem;
}

.project-list button {
  width: min-content;
}

/* Animations */

button {
  padding: 0.3rem;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}