:root{
  --background-bright: #f9faf4;
  --background-dark: #4a6163;
  --text-bright: #f9faf4;
  --text-dark: #4a6163;
  --highlight-bright: #ffc94b;
  --highlight: #f17a7e;
} 

/* Fonts */

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

.highlight-bright {
  color: var(--highlight-bright);
}

.highlight {
  color: var(--highlight);
}

/* Page properties */

body,
#container {
  background-color: var(--background-bright);
  height: 100vh;
}

body > div {
  display: grid;
  grid-template-columns: 9rem auto;
  grid-template-rows: 4rem auto;
}

#container > div { 
  padding: .5rem;
}

#header {
  grid-area: 1 / 1 / span 1 / span 2;
}

#sidebar {
  background-color: var(--background-dark);
  flex-grow: 1;
  gap: 1rem;
}

/* Properties */

.hidden {
  display: none !important;
}

.align-vertical {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  gap: 0.5rem;
}

.header :nth-child(2) {
  justify-self: left;
}

.light-color-bg {
  background-color: var(--background-bright);
  color: var(--text-bright);
}

.dark-color-bg {
  background-color: var(--background-dark);
  color: var(--text-bright);
}

/* Forms */

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 5px;
  gap: .3rem;
  margin: 0.5rem;
}

/* Projects */

.project button {
  height: min-content;
}

.project-list {
  gap: .5rem;
}

.project-list button {
  width: min-content;
}

/* Tasks */

.task {
  margin: 0.5rem 0;
  gap: 2px;
}

.task p {
  font-weight: 200;
  display: inline;
}

/* Animations */

button {
  padding: 0.3rem;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button:hover.danger {
  background-color: var(--highlight);
}